PowerEditor/Test/xmlValidator/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotepadPlus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GUIConfigs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="GUIConfig">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="ActiveTabs">
                      <xs:complexType>
                        <xs:attribute name="cont" type="xs:integer" use="required"/>
                        <xs:attribute name="activeTab" type="xs:integer" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:anyAttribute processContents="skip"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="FindHistory">
          <xs:complexType>
            <xs:anyAttribute processContents="skip"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="History">
          <xs:complexType>
            <xs:attribute name="nbMaxFile" type="xs:integer" use="required"/>
            <xs:attribute name="inSubMenu" type="xs:string" use="required"/>
            <xs:attribute name="customLength" type="xs:integer" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="ProjectPanels">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ProjectPanel">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:integer" use="required"/>
                  <xs:attribute name="workSpaceFile" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
