PowerEditor/Test/xmlValidator/toolbarButtons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotepadPlus">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ToolbarButtons">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Standard">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Button">
                      <xs:complexType>
                        <xs:attribute name="hide" type="xs:string" use="required"/>
                        <xs:attribute name="index" type="xs:integer" use="required"/>
                        <xs:attribute name="id" type="xs:unsignedShort" use="required"/>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="hideAll" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Plugin">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Button">
                      <xs:complexType>
                        <xs:attribute name="hide" type="xs:string" use="required"/>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="hideAll" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ToolBarIcons">
          <xs:complexType>
            <xs:attribute name="icoFolderName" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
